* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

$font-size: 0.9rem;
$color-pink: #e93b81;

// Navbar
.navbar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  .navbar-brand {
    font-weight: 500;
    color: #11245a;
  }
  .nav-link {
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.05rem;
    &.active {
      color: $color-pink;
    }
  }
}

//Hero
.hero {
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%),
    url("https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
