// Variables
$font-size: 0.9rem;
$color-pink: #e93b81;
$font-weight: 500;

//Extend
%title {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

%line {
  width: 120px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 16px auto 0 auto;
}

%small {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

%background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

//Global
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  color: #898fa1;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245a;
}

a {
  font-weight: 700;
  transition: all 0.4s ease;
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

// Navbar
.navbar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  .nav__logo {
    font-size: 1.3rem;
    color: $color-pink !important;
  }
  .nav-link {
    font-size: $font-size;
    letter-spacing: 0.05rem;
    font-weight: $font-weight;
    &.active {
      color: $color-pink;
    }
  }
}

//Hero

img {
  height: 1000px;
}
h3 {
  font-weight: $font-weight;
}

p {
  font-size: $font-size;
  max-width: 30rem;
  margin: 20px auto;
}

.btn {
  font-weight: $font-weight;
  font-size: $font-size;
  padding: 8px 22px;
  border-radius: 0;
}

//Services
.services {
  &__intro {
    text-align: center;
    margin-top: 80px;
    h1 {
      @extend %title;
    }
    .services__line {
      @extend %line;
    }
  }
  &__icon {
    width: 60px;
    height: 60px;
    background-color: $color-pink;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex: none;
  }
  &__title {
    font-size: 1rem;
    margin: 15px 0;
  }
  &__content {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
  }
  &__components {
    margin-top: 50px;
  }
}

//Portfolio
.portfolio {
  margin-top: 80px;
  .portfolio__item {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      transition: all 0.5s ease;
    }
    .portfolio__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgb(67, 67, 67, 0.8) 0%,
        rgb(0, 0, 0, 0.8) 100%
      );
      display: flex;
      align-items: flex-end;
      padding: 30px;
      opacity: 0;
      h3,
      h6 {
        color: #fff;
      }
    }
    &:hover .portfolio__content {
      opacity: 1;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
}

//Features
.features {
  .features__intro {
    margin-top: 80px;
    text-align: center;
    h1 {
      @extend %title;
    }
    .features__line {
      @extend %line;
    }
  }
  .features__icon {
    width: 34px;
    height: 34px;
    border-radius: 999px;
    font-size: 1.5rem;
  }
  .features__title {
    font-size: 1rem;
    margin: 15px 0;
    text-transform: uppercase;
  }
  .features__content {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

//Team
.team {
  margin-top: 80px;
  .team__member {
    background-color: $color-pink;
    &:hover .team__member__icons {
      bottom: 0;
    }
  }
  .team__member.even {
    background-color: rgb(245, 121, 142);
  }
  .team__line {
    width: 70px;
    height: 2px;
    margin: 16px auto;
    background-color: rgba(255, 255, 255, 0.445);
  }
  .team__member__img {
    position: relative;
    overflow: hidden;
    img {
      transition: all 0.5s ease;
      width: 100%;
      height: 400px;
      object-fit: cover;
      &:hover {
        transform: translateY(-60px);
      }
    }
    .team__member__icons {
      width: 100%;
      height: 60px;
      background-color: #efaac6;
      position: absolute;
      bottom: -60px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgba(255, 255, 255, 0.5);
        font-size: 24px;
        color: #fff;
        border-radius: 999px;
        margin-left: 4px;
        margin-right: 4px;
        &:hover {
          background-color: #fff;
          color: #e93b81;
        }
      }
    }
  }
}

//TESTIMONIALS
.testimonials {
  margin-top: 80px;
  img {
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    transition: all 0.5s ease;
    object-fit: cover;
  }
  .active {
    img {
      transform: scale(1.3);
    }
  }
  .testimonials__review {
    text-align: center;
    .stars {
      color: $color-pink;
      font-size: 1rem;
    }
    .testimonials__content {
      font-size: 1.2rem;
      text-align: justify;
      opacity: 0.6;
      max-width: 720px;
      margin: 24px auto;
      font-style: italic;
    }
    .testimonials__title {
      font-size: 2rem;
    }
    .testimonials__subtitle {
      font-size: 1rem;
      opacity: 0.6;
    }
  }
}

//Clients
.clients {
  margin-top: 80px;
  background: rgb(248, 236, 238);
  padding: 80px 0;
  img {
    height: 35px;
    width: 100%;
  }
}

//Contact
.contact {
  margin-top: 80px;
  img {
    width: 100%;
    height: 100%;
  }
  .form-control {
    border-radius: 0;
    &:focus {
      box-shadow: none;
      border-color: #e93b81;
    }
  }
}

//Cta
.cta {
  margin-top: 80px;
  background-color: #e93b81;
}

//Footer
