* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

$font-size: 0.9rem;

// Navbar
.navbar {
  border-bottom: 2px solid black;
  .nav-link {
    font-size: $font-size;
    font-weight: 500;
  }
}
