* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.features .features__intro h1, .services__intro h1 {
  color: #11245a;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

.features .features__intro .features__line, .services__intro .services__line {
  width: 120px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 16px auto 0 auto;
}

.navbar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
  font-weight: 500;
  color: #11245a;
}
.navbar .nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
.navbar .nav-link.active {
  color: #e93b81;
}

.hero {
  background-image: linear-gradient(to right, rgba(67, 67, 67, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.hero h1 {
  font-weight: 500;
}
.hero p {
  font-size: 0.9rem;
  max-width: 30rem;
  margin: 20px auto;
}
.hero .btn {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 8px 22px;
  border-radius: 0;
}

.services__intro {
  text-align: center;
  margin-top: 80px;
}
.services__icon {
  width: 60px;
  height: 60px;
  background-color: #e93b81;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  flex: none;
}
.services__title {
  font-size: 1rem;
  margin: 15px 0;
}
.services__content {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.services__components {
  margin-top: 50px;
}

.portfolio {
  margin-top: 80px;
}
.portfolio .portfolio__item {
  overflow: hidden;
  position: relative;
}
.portfolio .portfolio__item img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.portfolio .portfolio__item .portfolio__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(67, 67, 67, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
}
.portfolio .portfolio__item .portfolio__content h3,
.portfolio .portfolio__item .portfolio__content h6 {
  color: #fff;
}
.portfolio .portfolio__item:hover .portfolio__content {
  opacity: 1;
}
.portfolio .portfolio__item:hover img {
  transform: scale(1.1);
}

.features .features__intro {
  margin-top: 80px;
  text-align: center;
}
.features .features__icon {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  font-size: 1.5rem;
}
.features .features__title {
  font-size: 1rem;
  margin: 15px 0;
  text-transform: uppercase;
}
.features .features__content {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.team {
  margin-top: 80px;
}
.team .team__member {
  background-color: #e93b81;
}
.team .team__member:hover .team__member__icons {
  bottom: 0;
}
.team .team__member.even {
  background-color: rgb(245, 121, 142);
}
.team .team__line {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.445);
}
.team .team__member__img {
  position: relative;
  overflow: hidden;
}
.team .team__member__img img {
  transition: all 0.5s ease;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .team__member__img img:hover {
  transform: translateY(-60px);
}
.team .team__member__img .team__member__icons {
  width: 100%;
  height: 60px;
  background-color: #efaac6;
  position: absolute;
  bottom: -60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .team__member__img .team__member__icons a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  color: #fff;
  border-radius: 999px;
  margin-left: 4px;
  margin-right: 4px;
}
.team .team__member__img .team__member__icons a:hover {
  background-color: #fff;
  color: #e93b81;
}

.testimonials {
  margin-top: 80px;
}
.testimonials img {
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .active img {
  transform: scale(1.3);
}
.testimonials .testimonials__review {
  text-align: center;
}
.testimonials .testimonials__review .stars {
  color: #e93b81;
  font-size: 1rem;
}
.testimonials .testimonials__review .testimonials__content {
  font-size: 1.2rem;
  text-align: justify;
  opacity: 0.6;
  max-width: 720px;
  margin: 24px auto;
  font-style: italic;
}
.testimonials .testimonials__review .testimonials__title {
  font-size: 2rem;
}
.testimonials .testimonials__review .testimonials__subtitle {
  font-size: 1rem;
  opacity: 0.6;
}

.clients {
  margin-top: 80px;
  background: rgb(248, 236, 238);
  padding: 70px 0;
}

img {
  height: 40px;
  width: 120%;
  padding: 0 40px;
}/*# sourceMappingURL=style_20230223000953.css.map */